<div class="row">
    <h1> Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul><li><h1>Primaria</h1> - <h3>(2005 - 2012)</h3></li>
            <p>George Anderson Public School - T.O, ONT - Realice primer grado hasta quinto grado -//-



                Heroes de Malvinas - Las Heras, Mendoza - Complete estudios primarios. </p>
        </ul>
        <ul><li><h1>Secundaria</h1> - <h3>(2012 - 2018)</h3></li>
            <p>Mario Casale 4-088 - Las Heras, Mendoza - Complete estudios secundarios con bachiller en economia.</p>
        </ul>
        <ul><li><h1> Estudios Superiores</h1> - <h3>(2018 - presente)</h3></li>
            <p>Facultad UNcuyo, Facultad de filosofia y letras: Profesorado en lengua y literatura Inglesa - En curso. -//-
                Facultad UNcuyo, Facultad de Derecho: Abogacia - En curso 
            </p>
        </ul>

    </div>
</div>
